/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
.env
.env.*
!.env.example
!.env.*.example
/.codex_work
/.codex-spreadsheet-work
/outputs
/storage/backups/*.sql
/storage/framework/psysh/
/tools/node_modules/
/tools/
/*.sql
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed
